div#no-repo-shadow {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0f1625;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
div#get-repo {
  height: 529px;
  background: #0b101c;
  width: 450px;
  padding: 20px;
  border-radius: 10px;
}
div#search-repo {
  /* padding: 10px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div#search-repo input {
  outline: none;
  font-family: "Inter";
  padding: 10px;
  width: inherit;
  margin: 0px 7px;
  border: none;
  font-weight: 600;
  background: #2d3447;
  color: white;
  border-radius: 6px;
}
div#search-repo button {
  padding: 6px 21px;
  border-radius: 5px;
  border: none;
  font-family: "Inter";
  height: 39px;
  display: flex;
  color: white;
  font-weight: 600;
  background: #3f51b5;
  outline: none;
  align-items: center;
}
div#search-repo button i {
  font-size: 17px;
  margin-right: 7px;
}
div#search-repo-contents {
  margin-top: 30px;
  height: 90%;
  overflow: auto;
}
.repo-info {
  letter-spacing: 1px;
  color: white;
  padding: 8px;
  margin: 10px;
}
.repo-info:hover {
  border-radius: 8px;
  background: #80808057;
  cursor: pointer;
}
.repo-info p {
  font-size: 14px;
  margin: 0;
  font-family: "Inter";
}
.repo-info h5 {
  font-size: 16px;
  margin: 5px;
  font-family: "Inter";
}
